body{
  background-color: #F6E9CA;
}

.cabecalho{
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: white; 
  -webkit-text-stroke: 2px #000000;
  text-align: center;
}

.faixa{
  height: 4px;
  background-color: #687CA8;
}

.btn-adicionar {
  display: inline-block;
  padding: 8px 16px;
  background-color: #687CA8;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-radius: 16px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

a:hover {
  background-color: #414D69;
}

.btn-cancelar {
  display: inline-block;
  padding: 8px 16px;
  background-color: #687CA8;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-radius: 16px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}